<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ログイン</title>
</head>
<body>
  <main>
    <h1>ログイン</h1>
    <form action="/login" method="POST" class="form">
      <div>
        <label>ユーザーID：</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>パスワード：</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="ログイン"/>
    </div>
  </main>
</body>
</html>